/AddNumbers.class
/AreaOfCircle.class
/Average.class
/CelsiusToFahrenheit.class
/KmToMiles.class
/PerimeterRectangle.class
/PowerCalc.class
/SimpleInterest.class
/VolumeOfCylinder.class
/Welcome.class
